/* ROOT */
:root {
  --clr--accent: hsl(214, 100%, 44%);
  --clr--text--700: hsl(235, 21%, 21%);
  --clr--text--400: hsl(218, 17%, 62%);
  --clr--text--200: hsl(197, 24%, 84%);
  --clr--text--100: hsl(197, 24%, 94%);
  font-family: "Montserrat", sans-serif;
}

/* CSS RESETS */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* BASE STYLES */
h1 {
  font-size: 36px;
  font-weight: 700;
  color: var(--clr--text--700);
  line-height: 1.2;
}

/* UTILITY CLASSES */
.btn {
  background-color: var(--clr--accent);
  font-size: 18px;
  font-weight: 600;
  color: var(--clr--text--100);
  padding: 18px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
  min-width: 320px;
}

input {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 18px 20px;
  min-width: 480px;
  background-color: var(--clr--text--400);
  color: white;
  font-size: 18px;
  font-weight: 600;
}

input::placeholder{
  color: rgb(255, 255, 255);
}


/* MEDIA QUERIES */

/* --- STYLES --- */
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  background-color: var(--clr--text--100);
  padding: 45px 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

/* HEADER */
.title {
  font-weight: 900;
  color: var(--clr--accent);
}

/* INPUTS */
.inputs__container {
  margin: 40px 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.inputs__container .btn:hover {
  box-shadow: 0px 0px 24px 8px rgba(0, 97, 223, 0.3);
  scale: 0.97;
}

/* GASTOS */

/* GASTOS TOTALES */
.gasto-total__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 24px;
}
.gasto-total__container .nombre {
  font-size: 18px;
  font-weight: 600;
}

.gasto-total__container .precio {
  font-size: 24px;
  font-weight: 800;
  background-color: white;
  color: #82ef23;
  padding: 6px 26px;
}